{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="col-lg-8 mx-auto p-4 py-md-5">
  <main>
    <h1>Customer Information</h1>

    <div class="row g-3">

        <form method="POST" action="{% url 'add-user-info' %}" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="mb-3">
            <label for="FirstName" class="form-label">First Name</label>
            <input type="text" name="first_name" class="form-control" id="FirstName" required="">
          </div>

          <div class="mb-3">
            <label for="LastName" class="form-label">Last Name</label>
            <input type="text" name="last_name" class="form-control" id="LastName" required="">
          </div>

           <div class="mb-3">
            <label for="DateOfBirth" class="form-label">Date of Birth</label>
            <input type="date" name="date_of_birth" class="form-control" id="DateOfBirth" required="">
          </div>

          <div class="mb-3">
            <label for="formFile" class="form-label">Upload</label>
            <input class="form-control" name="uploaded_file" type="file" id="formFile" required="" accept=".xls,.xlsx">
          </div>


          <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>

    <hr>

    <div class="row g-5">
      <div class="col-md-12">
        <h2>Customer Income and Expenditure</h2>
        <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

      </div>
    </div>
  </main>
  <footer class="pt-5 my-5 text-muted border-top">
    <div class="text-muted">Copyright &copy; {% now "Y" %}</div>
  </footer>
</div>
{% endblock %}
